* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-image: url("../images/nh_umbagog_park_map.jpg");
    background-color: rgb(232, 240, 250);
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}  
body {
    font-family: Madurai, Arial, Helvetica, sans-serif;
    font-size: 130%;
    font-weight: 600;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: whitesmoke;
    opacity: .9;
    position: relative;
    overflow-x: hidden;
}
header {
    width: 100%;
    background-color: black;
    color: darkorange;
    display: flex;
    flex-direction: row;
    box-shadow: 0 3px 15px 0 gray;
}
main div {
    margin-bottom: 1em;
}
main div:last-child {
    margin-bottom: 100px;
}
.logo-image {
    margin: .5em;
    max-width: 125px;
    border: 4px double darkorange;
    border-radius: 50%;
}
header div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
ul {
    list-style-type: none;
    margin: .5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: .5em;
}
ul span {
    text-align: center;
}
li {
    font-weight: bold;
    background-color: darkorange;
    border: 3px ridge black;
    border-radius: 5px;
    transition: all .5s;
}
a {
    text-decoration: none;
    display: block;
    padding: 1em;
    font-size: 105%;
    
    transition: all .5s;  
}
a:link, a:visited, a:active, a:focus {
    color: black;
}
li:focus, li:active {
    background-color: #fed8b1;
    border: 3px solid silver;
}
a:hover {
    text-decoration: none;
    color: blueviolet;
}
li:hover {
    background-color: yellowgreen;
    border: 3px ridge blueviolet;
}
.shadytext {
    font-weight: bold;
    text-shadow: 1px 1px 10px gray;
}
.allcaps {
    font-variant: small-caps;
}
.big-text {
    font-size: 250%;
    font-weight: 900;
}
.text-outline {
    text-shadow: 1px 1px 1px orange, -1px 1px 1px orange, 1px -1px 1px orange, -1px -1px 1px orange;
}
.glow-text {
    font-size: 120%;
    color: white;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}
.countdown {
    font-size: 150%;
    font-weight: 900;
    text-align: center;
    font-variant: small-caps;
}
.the-countdown {
    margin: .75em;
    padding: 1em;
    background-image: url("../images/20200713_135121.jpg");
    background-size: cover;
    background-color: blue;
    background-blend-mode:lighten;
    border: 3px ridge darkorange;
    border-radius: 50%;
    box-shadow: .5em 0 10px 0 orange, -.5em 0 10px 0 orange, 0 -.5em 10px 0 orange, 0 .5em 10px 0 orange;
    text-align: center;
    font-size: 3rem;
    color: black;
}

sup {
    font-size: 60%;
    text-align: top;
}
footer {
    background-color: black;
    color: darkorange;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-size: 70%;
    box-shadow: 0 -3px 15px 0 gray;
    text-transform: uppercase;
}
@media (max-width: 900px) {
    body {
        max-width: 100%;
    }
    .big-text {
        font-size: 150%;
    }
    footer {
        position: relative;
    }
}
@media (max-width: 300px) {
    body {
        font-size: 85%;
    }
    .big-text {
        font-size: 100%;
    }
}
